.NavBox {
    font-size: large;
    padding: 10px;
    width: 13%;
    height: 400px;
    background-color: yellow;
    float: left;
   
}

.Dice-number{
    width: 50px
  }

  .Dice-type{
    width: 25px
  }